.title{
    display: flex;
}



.header{
    display: flex;
    justify-content: space-between;
    margin:10px;
    border:1px solid rgb(7, 7, 7);
    
}



.logo {
    width:100px;
    border-radius: 2ex;
    margin:3px;
}


.nav-items > ul{
    display:flex;
    list-style-type: none;
}

.nav-items > ul >li{
    padding:10px;
    font-size :1.5em;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .card img {
    width: 95%; 
    margin-bottom: 10px; 
  }

  .restrauntList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    box-sizing: border-box; 
  }

.shimmer-card {
    width: 350px; 
    height: 550px; 
    margin: 10px;
    background: linear-gradient(to right, #f6f7f8 4%, #edeef1 25%, #f6f7f8 36%);
  }
  
  .shimmer-restaurant{
    width: 660px;
    height:780px;
    margin: 10px;
    background: linear-gradient(to right, #f6f7f8 4%, #edeef1 25%, #f6f7f8 36%);

  }